<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Nick Hunter is a software engineer that has been professionally coding for over 6 years.
</p>
<p>
  He has a Bachelors of Engineering in Computer Science and Engineering from The Ohio State University and continues to live and work in Columbus
</p>
<p>
  Everything stated in this blog is of the opinion of Nick Hunter and not a reflection of his employer.
</p>
